@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');

body {
    background-image: url(./img/overlay.png), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(./img/bg.jpg);
    background-image: url(./img/overlay.png), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(./img/bg.jpg);
    background-image: url(./img/overlay.png), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(./img/bg.jpg);
    background-image: url(./img/overlay.png), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url(./img/bg.jpg);
    background-repeat: repeat, no-repeat, no-repeat;
    background-size: 100px 100px, cover, cover;
    background-position: top left, center center, bottom center;
    background-attachment: fixed, fixed, fixed;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
}

.container {
    max-width: 960px;
    background: #fff;
}
h1 {
    font-family: 'Raleway', sans-serif;
    margin: 2em 1em;
    text-transform:uppercase;
    letter-spacin:0.2em;
}
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.checkbox label {
    display: inline-block;
    margin-bottom: 5px;
    }

.list-group-item:first-child {
    border-radius: 0;
    border-left:none;
    border-right:none;
}
.list-group-item>span{
    font-size:0.9em;
    color:#ccc;
}

.form-control {
  border: 1px dashed #ccc;
      box-shadow: none;
      border-radius: 1px;
}

.btn-lg {
     border-radius: 1px;
     text-transform: uppercase;
    color: #414f57;
    font-weight: 300;
    letter-spacing:0.2em;
}
